# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env

# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Build Outputs
dist/
build/
blockchain/contracts/artifacts/

# System Files
.DS_Store
.vscode/
.idea/
